/* ==================== */
/* GLOBAL VARIABLES */
/* ==================== */
:root {
  /* typographies */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;

  /* Base colors */
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8fcfc;

  /* PRIMEVUE COMPONENTS */
  /* Cards */
  --p-card-title-font-size: 1.5rem !important;
  --p-card-title-font-weight: 500 !important;

  /* DataTable */
  --p-datatable-header-background: #f5f5f5 !important;
  --p-datatable-header-cell-background: #f5f5f5 !important;
  --p-datatable-row-background: #ffffff !important;
  --p-datatable-header-cell-border-color: #ffffff !important;
  --p-datatable-header-border-color: #f5f5f5 !important;
  --p-datatable-body-cell-border-color: #e6e6e6 !important;
  --p-datatable-header-color: #000 !important;
  --p-datatable-header-cell-color: #717171 !important;
  --p-datatable-row-color: #000 !important;
  --p-datatable-row-striped-background: #f5f5f5 !important;
  --p-datatable-header-cell-selected-background: #333 !important;
  --p-datatable-paginator-bottom-border-color: #f5f5f5 !important;

  /* Paginator */
  --p-paginator-background: #ffffff !important;
  --p-paginator-padding: 1rem 1rem 0.5rem 1rem !important;
  --p-paginator-nav-button-selected-background: #4978f5 !important;

  /* Select */
  --p-select-background: #f5f5f5 !important;
  --p-select-color: #232d3a !important;
  --p-select-focus-border-color: #232d3a !important;

  /* Buttons */
  --p-button-primary-background: #4978f5 !important;
  --p-button-primary-border-color: #4978f5 !important;
  --p-button-primary-color: #ffffff !important;
  --p-button-label-font-weight: 600 !important;
  --p-button-primary-hover-background: #3261d3 !important;
  --p-button-primary-hover-border-color: #3261d3 !important;
  --p-button-primary-hover-color: #ffffff !important;
  --p-primary-active-color: #3261d3 !important;
  --p-primary-active-color-hover: #3261d3 !important;
  --p-primary-contrast-color : #ffffff !important;

  /* Dialogs */
  --p-dialog-background: #ffffff !important;
  --p-dialog-color: #232d3a !important;

  /* Inputs */
  --p-inputtext-background: #f5f5f5 !important;
  --p-inputtext-color: #232d3a !important;
  --p-inputtext-border-color: #e6e6e6 !important;
  --p-inputtext-hover-border-color: #e6e6e6 !important;
  --p-inputtext-focus-border-color: #4978f5 !important;
}

/* ==================== */
/* BASIC ELEMENTS */
/* ==================== */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ==================== */
/* COMPONENTS */
/* ==================== */
.p-card-body{
  background-color: #fff;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ==================== */
/* MEDIA QUERIES */
/* ==================== */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #4978f5;
  }
  button {
    background-color: #f9f9f9;
  }
}